// Mixin for text glow
// Variables: $blur $opacity
@mixin textGlow($blur: 10px, $opacity: 0.5) {
  text-shadow: 0px 0px $blur #fd8414, 0px -3px $blur rgba(253, 132, 20, $opacity),
    -3px 0px $blur rgba(253, 132, 20, $opacity), 3px 0px $blur rgba(253, 132, 20, $opacity),
    0px 3px $blur rgba(253, 132, 20, $opacity), 0px 0px $blur rgba(253, 132, 20, $opacity);
}

@mixin textGlowAnimation($animationName, $blurStart: 10px, $opacityStart: 0.5, $blurEnd: 20px, $opacityEnd: 0.25) {
  -webkit-animation: $animationName 1s ease-in-out infinite alternate;
  -moz-animation: $animationName 1s ease-in-out infinite alternate;
  animation: $animationName 1s ease-in-out infinite alternate;

  @keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }
  @-moz-keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }
  @-webkit-keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }
}

// added fade in
@mixin heroTitleGlowAnimation($animationName, $blurStart: 10px, $opacityStart: 0.5, $blurEnd: 20px, $opacityEnd: 0.25) {
  -webkit-animation: fadeIn ease-in 2s, $animationName 1s ease-in-out infinite alternate;
  -moz-animation: fadeIn ease-in 2s, $animationName 1s ease-in-out infinite alternate;
  animation: fadeIn ease-in 2s, $animationName 1s ease-in-out infinite alternate;

  @keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }
  @-moz-keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }
  @-webkit-keyframes #{$animationName} {
    from {
      @include textGlow($blur: $blurStart, $opacity: $opacityStart);
    }
    to {
      @include textGlow($blur: $blurEnd, $opacity: $opacityEnd);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
