$color-white: #fff;
$color-black: #0b0509;
$color-grey-primary: #8f8e8f;
$color-grey-mid: #2d2b2c;
$color-grey-dark: #151315;
$color-orange: #fd8414;
$color-green: #79b900;

$font-light: 300;
$font-regular: 400;
$font-bold: 700;

$toggle-default-size: 1.5rem;
