/* global font size */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Almarai', sans-serif;
  font-weight: $font-regular;
  line-height: 1.7;
  color: $color-grey-primary;
  background-color: $color-black;

  box-sizing: border-box;
}
